p {
  margin-top: 0px;
}

body {
  background-color: #F3F3F3;
  max-width: 800px;
  margin: auto;
  color: #475351;
}

h1 {
  color: #498E33;
  border-bottom-color: #CEDC3F;
  border-bottom-style: solid;
  text-align: center;
}

h2 {
  color: #498E33;
  border-bottom-color: #CEDC3F;
  border-bottom-style: solid;
  margin-bottom: 5px;
}

h3 {
  color: #475351;
  margin: 0 0 0 0;
}

section {
  margin-bottom: 5px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: justify;
}

#dato {
  float: right;
}

footer {
  font-size: 90%;
  margin-top: 40px;
  text-align: center;
}
